* {
    box-sizing: border-box;
}

.body {
    padding: 0;
    padding-top: 60px;
    margin: 0;
    font-family: "Mori";
    font-weight: 300;
    height: calc(100vh - 0px);
    overflow: hidden;
    background-color: black;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container.grid,
.container.columns {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.letter {
    text-align: center;
    color: black;
    font-size: 10vmax;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
}

.container.grid .letter {
    flex-basis: 50%;
}

.container.columns .letter {
    flex-basis: 25%;
}

.for,
.gsap {
    font-size: 5vmax;
    color: #fff;
}

.for {
    padding: 2px 1.6vmax;
    font-weight: 300;
    display: none;
}

.gsap {
    padding: 2px 0;
    font-weight: 600;
    display: none;
}

.container.final .for,
.container.final .gsap {
    display: block;
}

.F {
    background: #0ae448;
}

.l {
    background: #abff84;
}

.i {
    background: #00bae2;
}

.p {
    background: #9d95ff;
}

.container.plain .letter {
    background: transparent;
    color: #fff;
    padding: 0;
}

.logo {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 30px;
}