.link {
  padding: 0 20px;
  font-weight: bold;
}
header {
  background: #f7d490;
  position: fixed;
  top: 0;
  width: 100vw;
}

ul {
  background: #f7d490;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
}